/*

Group 4
4HC3 Milestone 4
Styling

Aaska Shah			001422791
Kerala Brendon		001424625
Nolan Slade 		001401079
Vyome Kishore 		001406201

*/

html {
	max-width:			375px;
	overflow-x: 		hidden;
	overflow-y: 		scroll;
}



.standardNav {
	position: 			fixed;
	width:				375px;
	height:				50px;
	background-color:	rgb(200, 162, 200);	/*Light Blue*/
}

.navButton{
	margin-top: 		0px;
	margin-left: 		5px;
	background-color: 	transparent;
	border: 			none;
	width: 				83px;
	height: 			50px;
	color: 				black;
	font-family:		'Roboto', sans-serif;
}

.active{
	font-size: 			22px;
	font-weight: 		bold;
	color: 				white;
}

.searchBar {
	position:			fixed;
	top:				50px;
	width: 				375px;
	height:				40px;
	border:				0px solid black;
	background-color: 	rgb(210, 210, 210);/*Grey*/
}

input.searchBar {
	height:				40px;
	font-family:		'Roboto', sans-serif;
}

.standardContentWindow {
	overflow:			scroll;
	position:			fixed;
	top:				90px;
	width:				375px;
	height:				570px;
	border:				0px solid black;
	background-color: 	rgb(210, 210, 210);/*Grey*/
}

.conversationContentWindow {
	overflow:			scroll;
	position:			fixed;
	top:				90px;
	width:				375px;
	height:				570px;
	border:				0px solid black;
	background-color: 	rgb(210, 210, 210);/*Grey*/
}

/* styling for contacts  */

.contactBox{
	margin-top: 		10px;
	margin-left: 		5px;
	width:				360px;
	height:				90px; 
	border-radius: 		10px;
	border:				1px solid black;
	background-color: 	white;
}

.user{
	margin-left: 		2px;
	width: 				45px;
	height: 			45px;
	border-radius: 		150px;
	border:      		2px solid black;

}

.msg{
	margin-top: 		-80px;
	margin-left: 		325px;
	width: 				25px;
	height: 			25px;
}

.alphabetical{
	font-size: 			20px;
	font-weight:  		bold;
	
}

.label{
	font-size: 			22px;
	margin-top: 		100px;
	margin-left: 		10px;
	font-family:		'Roboto', sans-serif;
}

.msgLabel{
	margin-left: 		260px;
}




/* styling for inbox (some from contacts styling) */


.notif{
	margin-top: 		-150px;
	margin-left: 		150px;
	width: 				25px;
	height: 			25px;
	border-radius: 		100px;
}

.timestamp{
	float: 				right;
	margin-right: 		10px;
	font-family:		'Roboto', sans-serif;
}

.messageUnread {
	margin:				5px;
	width:				360px;
	height:				85px;
	border:				5px solid black;
	border-radius:		8px;
	font-weight: 		bold;
	background-color: 	white;
	
}

.messageRead {
	margin:				5px;
	width:				360px;
	height:				85px;
	border:				2px solid black;
	border-radius:		8px;
	background-color: 	white;
}


/* styling for profile */

.profile{
	width: 				100px;
	height: 			100px;
	margin-top: 		40px;

}

.name{	
	font-size: 			30px;
}

.username{
	text-align: 		center;
	font-size: 			25px;
}



/* styling for stories */


.contactStories{
	margin-top: 		10px;
	margin-left: 		25px;
	margin-right: 		10px;
	margin-bottom: 		10px;
	width: 				80px;
	height: 			90px;
	background-color: 	transparent;
	border: 			none;
	
}
.storyContentWindow {
	overflow:			scroll;
	position:			fixed;
	top:				50px;
	width:				375px;
	height:				615px;
	border:				0px solid black;
	background-color: 	rgb(210, 210, 210);/*Grey*/
}


/* styling for conversation */

.conversationContentWindow {
	overflow:			scroll;
	top:				90px;
	width:				375px;
	height:				570px;
	border:				0px solid black;
	background-color: 	rgb(210, 210, 210);/*Grey*/
}
.conversationWith {
	margin: auto;
	width: 50%;
	padding:10px;
}

.userMessageImage{
	margin-top: 		5px;
	margin-right: 		5px;
	margin-left: 		5px;
	width: 				15px;
	height: 			15px;
}

.contactMessage {
	margin:				5px;
	width:				300px;
	height:				auto;
	border:				3px solid grey;
	border-radius:		8px;
	font-weight: 		bold;
	background-color: 	white;
	margin-right: 		70px;
	
}

.userMessage {
	margin:				5px;
	width:				300px;
	height:				auto;
	border:				3px solid rgb(200, 162, 200);	/*Light Blue*/;
	border-radius:		8px;
	font-weight: 		bold;
	background-color: 	white;
	margin-left: 		70px;
}

.newMessage {
	margin:				5px;
	width:				360px;
	height:				auto;
	border:				3px solid grey;
	border-radius:		8px;
	font-weight: 		bold;
	background-color: 	white;
	margin-right: 		70px;
	
}

.messageContent{
	font-family:		'Roboto', sans-serif;
	padding:5px;
}



.pos{
	text-align: 		center;
}

.camlabel{
	font-size: 			22px;
	margin-top: 		100px;
	margin-left: 		50px;
	font-family:		'Roboto', sans-serif;
}

.camNav{
	margin-top: 		0px;
	margin-left: 		5px;
	background-color: 	transparent;
	border: 			none;
	width: 				83px;
	height: 			50px;
	font-family:		'Roboto', sans-serif;
}

.capture{
	border: 			2px solid black;
	height: 			60px;
	width: 				60px;
	border-radius: 		50%;
	margin-top: 		475px;
/*	margin-left: 		100px;*/
}

.cameraContentWindow {
	position:			fixed;
	top:				50px;
	width:				375px;
	height:				541px;
	border:				0px solid black;
	background-color: 	black;/*Grey*/
}


.galleryContentWindow {
	overflow:			scroll;
	position:			fixed;
	top:				50px;
	width:				375px;
	height:				615px;
	border:				0px solid black;
	background-color: 	rgb(210, 210, 210);/*Grey*/
}

.galleryLabel{
	font-size: 			22px;
	margin-top: 		100px;
	margin-left: 		50px;
	font-family:		'Roboto', sans-serif;
}


/* styling for the footers in all pages */

.footerBar {
	margin-top: 		10px;
	position: 			relative;
	bottom:				0px;
	width:				375px;
	height:				75px;
	border: 			0px solid black;
	background-color: 	rgb(200, 162, 200);	/*Light Blue*/
}

.footerButton {
	position: 			relative;
	bottom:				2px;
	width:				370px;
	height:				70px;
	background: 		transparent;
	border:				none;
	font-size: 			20px;
}

.multipleButtonFooter{
	position: 			relative;
	width:				183px;
	height:				70px;	
	border:				1px solid black;
	font-size: 			18px;
	background-color: 	transparent;

}

.foot{
	position: 			relative;
	margin-top: 		10px;
	position: 			fixed;
	bottom:				0px;
	width:				375px;
	height:				75px;
	border: 			0px solid black;
	background-color: 	rgb(200, 162, 200);	/*Light Blue*/
}

.multifooter{
	background-color: 	rgb(200, 162, 200);	/*Light Blue*/	
}



.footerIcon{
	position: 			relative;
	width: 				25px;
	height: 			25px;
}
